In [24]:
import pandas as pd
import numpy as np
df = pd.read_csv('salaries_by_college_major.csv')
#View the first 5 columns and rows of data
# df.head()

#See thenumber of rows and columns
# df.shape
# (51, 6)
# 51 rows 6 columns

#See the names of the columns
# df.columns
# Index(['Undergraduate Major', 'Starting Median Salary',
#        'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
#        'Mid-Career 90th Percentile Salary', 'Group'],
#       dtype='object')

#Check for blank or missing values
# df.isna()

# Check the last couple of rows in the dataframe
# df.tail()

# remove row with null values
# clean_df = df.dropna()
# clean_df.tail()

In [19]:
# Print a column
# clean_df['Starting Median Salary']

# See the highest value in a specific column
clean_df['Starting Median Salary'].max()
# 74300

# Check the index/row number of the row with the largest number
clean_df['Starting Median Salary'].idxmax()
# >>> 43

# Check the name of the major that corresponds to that row
clean_df['Undergraduate Major'].loc[43]
# >>> 'Physician Assistant'
# OR you can use double bracket notation
clean_df['Undergraduate Major'][43]

'Physician Assistant'

In [23]:
# What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).
clean_df['Mid-Career Median Salary'].max()
# 107000.0

clean_df['Mid-Career Median Salary'].idxmax()
# 8
clean_df['Undergraduate Major'].loc[8]
# 'Chemical Engineering'

'Chemical Engineering'

In [31]:
# Which college major has the lowest starting salary and how much do graduates earn after university?
clean_df['Starting Median Salary'].min()
# 34000.0
clean_df['Starting Median Salary'].idxmin()
# 49
clean_df['Undergraduate Major'][49]
# 'Spanish'

'Spanish'

In [34]:
# Which college major has the lowest mid-career salary and how much can people expect to earn with this degree? 
clean_df['Mid-Career Median Salary'].min()
# 52000.0
clean_df['Mid-Career Median Salary'].idxmin()
# 18
clean_df['Undergraduate Major'][18]
# 'Education'

'Education'

In [42]:
# How would we calculate the difference between the earnings of the 10th and 90th percentile?
clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
# OR use subract()
clean_df['Mid-Career 90th Percentile Salary'].subtract(clean_df['Mid-Career 10th Percentile Salary'])
# We can add this data as  a column to our existing dataframe with the .insert() method:
# spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
# clean_df.insert(1, 'Spread', spread_col)
clean_df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [ ]:
# To see which degrees have the smallest spread, we can use the .sort_values() method. 
low_risk = clean_df.sort_values('Spread')
low_risk[['Undergraduate Major','Spread']].head()
low_risk.head()

In [52]:
# find the degrees with the highest potential. Find the top 5 degrees with the highest values in the 90th percentile.
mid_career = clean_df.sort_values(['Mid-Career 90th Percentile Salary'],ascending=False)
mid_career[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [53]:
highest_spread = clean_df.sort_values('Spread', ascending=False)
highest_spread[['Undergraduate Major', 'Spread']].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

In [56]:
# We have three categories in the 'Group' column: STEM, HASS and Business. Let's count how many majors we have in each category:
clean_df.groupby('Group').count()
#  use the .mean() method to find the average salary by group? 
pd.options.display.float_format = '{:,.2f}'.format

clean_df.groupby('Group').mean()